body{
	background:#ebebeb;
}
.mainto{
	background:white;
}
.main .more h3{
    width: 1.6rem;
    height: 0.3rem;
    border: 1px solid #aaa;
    border-radius: 0.15rem;
    margin-top: 0.1rem;
    text-align: center;
    line-height: 0.3rem;
    font-size: 0.12rem;
    color: #616161;
    cursor: pointer;
}
.main{
	width:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.main .soon{
	display:flex;
	justify-content: center;
	width:100%;
	border-bottom:1px solid #a8a8a8;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	position: relative;
}
.main .soon h5{
	width:0.65rem;
	height:0.2rem;
	border-radius: 0.05rem;
	font-size: 0.1rem;
	line-height: 0.2rem;
	text-align: center;
	color:#000;
	position: absolute;
	top:-0.1rem;
	background:#a7a7a7;
}
.cont{
	height:0.35rem;
	width:100%;
}
.left{
	height:0.35rem;
}
.right{
	height:0.35rem;
}
h6{
	padding-top: 0.1rem;
	padding-left: 0.15rem;
	font-size: 0.12rem;
	/*height:0.15rem;*/
	line-height: 0.15rem;
}
.right h4{
	/*padding-top: 0.1rem;*/
	padding-right: 0.28rem;
	font-size: 0.1rem;
	/*height:0.15rem;*/
	line-height: 0.15rem;
}
